<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ENet.Managed" version="3.0.2" targetFramework="net45" />
  <package id="Memory.dll" version="1.2.19" targetFramework="net45" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
</packages>